In [ ]:
#importar bibliotecas
%%sh
sudo pip install pyodbc
sudo pip install sqlalchemy
sudo pip install pymysql
sudo pip install mysqlclient
sudo pip install boto3
sudo pip install s3fs

In [ ]:
#Importar bibliotecas
import sqlalchemy, pyodbc, boto3, s3fs, pandas as pd

In [ ]:
#Acessando a tabela
server='database-1.cf2p57sixt7j.us-east-1.rds.amazonaws.com'
database = "chamado_tecnico"
username='admin'
password='aluno123'
stringbound = f'mysql://{username}:{password}@{server}/{database}'
engine=sqlalchemy.create_engine(stringbound)
engine.connect()

In [ ]:
#buscar nome das tabelas para integrar
df_tabela = pd.read_sql("SELECT TABLE_SCHEMA,TABLE_NAME FROM information_schema.tables where TABLE_SCHEMA IN ('chamado_tecnico') ;",con=engine)
df_tabela

      TABLE_SCHEMA    TABLE_NAME
0  chamado_tecnico     CATEGORIA
1  chamado_tecnico       CHAMADO
2  chamado_tecnico  DEPARTAMENTO
3  chamado_tecnico   FUNCIONARIO
4  chamado_tecnico    PRIORIDADE

In [ ]:
#Ler tabelas 
df1 = pd.read_sql("select * from chamado_tecnico.CATEGORIA",con=engine)
df1.to_csv('/content/chamado_tecnico/CATEGORIA')
df2 = pd.read_sql("select * from chamado_tecnico.CHAMADO",con=engine)
df2.to_csv('/content/chamado_tecnico/CHAMADO')
df3 = pd.read_sql("select * from chamado_tecnico.DEPARTAMENTO",con=engine)
df3.to_csv('/content/chamado_tecnico/DEPARTAMENTO')
df4 = pd.read_sql("select * from chamado_tecnico.FUNCIONARIO",con=engine)
df4.to_csv('/content/chamado_tecnico/FUNCIONARIO')
df5 = pd.read_sql("select * from chamado_tecnico.PRIORIDADE",con=engine)
df5.to_csv('/content/chamado_tecnico/PRIORIDADE')

In [ ]:
#Credenciais de acesso ao bucket de destino
aws_access_key_id_destino ='ASIAWKPA6QD3R76BVUXK'
aws_secret_access_key_destino ='M0TKoozYHNGn2qt4AXcxCDfObBw5GpWBZW07Qpmm'
aws_session_token_destino = 'FwoGZXIvYXdzEGgaDEZade/1JKI3d7XkKyLfAVixBJNC+bHIyqwOOcX3WS4LTe/+Uqji925CBWi8b+L+q8VR/rfdGjU9WgD+VnSpnQ43uo+rJLR9Le+1742M8XcTTek860aBovqm1HoErQxxdeA3O4GCfYQZr4oTQU1KS3Re3bPiCStPQSnuSodTPpNtqRnmC1IGXXK34gf5mlCL/1OLZvhUqpOR8+sc/rIQOZ1Dn2tjAdNakgKl4lVwpPDTgqddTQ24MknVID0tsXR/z3nMIkXbV5gMfX+zeB79N9acJpa3y+NGJNAAapam4AB1TSPPivFg3zTYfMz1VO0o7NTflAYyLRtNWwKjSpHgKx7a39JcgKy30IbqIpiY9EASXVnC+WmV8WcG4eCEosXk/yoxhg=='

In [ ]:
#cliente para criar um novo bucket
client_s3 = boto3.client('s3',
                      aws_access_key_id = aws_access_key_id_destino,
                      aws_secret_access_key = aws_secret_access_key_destino,
                      aws_session_token = aws_session_token_destino, use_ssl=False)

nome_bucket = "chamado-tecnico-2101848"
client_s3.create_bucket(Bucket=nome_bucket)

{'Location': '/chamado-tecnico-2101848',
 'ResponseMetadata': {'HTTPHeaders': {'content-length': '0',
   'date': 'Wed, 01 Jun 2022 23:24:02 GMT',
   'location': '/chamado-tecnico-2101848',
   'server': 'AmazonS3',
   'x-amz-id-2': 'I1DARfTYBxKCPeUeQsLSIjGoANLET+2msTDzimMg1xSji6i8H1DPoY9hu4/cPmd//xfIs34eMi0=',
   'x-amz-request-id': 'DNEVE6RF109XH87N'},
  'HTTPStatusCode': 200,
  'HostId': 'I1DARfTYBxKCPeUeQsLSIjGoANLET+2msTDzimMg1xSji6i8H1DPoY9hu4/cPmd//xfIs34eMi0=',
  'RequestId': 'DNEVE6RF109XH87N',
  'RetryAttempts': 0}}

In [ ]:
#Criar recurso aws bucket destino
resource_s3= boto3.resource('s3', aws_access_key_id = aws_access_key_id_destino,
                       aws_secret_access_key = aws_secret_access_key_destino,
                       aws_session_token = aws_session_token_destino, use_ssl=False)

bucket_destino = resource_s3.Bucket("chamado-tecnico-2101848")

In [ ]:
#subir dados para bucket destino manual
bucket_destino.upload_file(Filename="/content/chamado_tecnico/CATEGORIA",Key="CATEGORIA.csv")
bucket_destino.upload_file(Filename="/content/chamado_tecnico/CHAMADO",Key="CHAMADO.csv")
bucket_destino.upload_file(Filename="/content/chamado_tecnico/DEPARTAMENTO",Key="DEPARTAMENTO.csv")
bucket_destino.upload_file(Filename="/content/chamado_tecnico/FUNCIONARIO",Key="FUNCIONARIO.csv")
bucket_destino.upload_file(Filename="/content/chamado_tecnico/PRIORIDADE",Key="PRIORIDADE.csv")

In [ ]:
#Instalando bibliotecas
%%sh
sudo pip install spark
sudo pip install pyspark

In [ ]:
#1-Instalar e importar as bibliotecas do spark e pyspark.
import pandas as pd

#Importando o spark e o pyspark
import spark,pyspark

#Importando as bibliotecas do pyspark.sql 
from pyspark.sql import *

#Importando as funções sql do spark
#documentação https://spark.apache.org/docs/latest/api/sql/index.html
from pyspark.sql import functions as f

#Importando os tipos de dados do spark
#documentação https://spark.apache.org/docs/latest/sql-ref-datatypes.html
from pyspark.sql import types as t 

#Biblioteca datetime
from datetime import datetime, date

In [ ]:
#2 - Criar um spark context com o app name
spark = SparkSession.builder.master("local").appName("Prova-Eng").getOrCreate()

In [ ]:
#Ler as tabelas 
df_prova = spark.read.option("header","true").option("delimiter",",").csv("/content/chamado_tecnico/CHAMADO")
df_prova1 = spark.read.option("header","true").option("delimiter",",").csv("/content/chamado_tecnico/FUNCIONARIO")

In [ ]:
#nome e a matrícula do funcionário solicitante. ( join id funcionario, id solicitante)
dfj = df_prova.join(df_prova1,(df_prova.ID_SOLICITANTE==df_prova1.ID_FUNCIONARIO),how='inner')
#dfj = dfc.join(dfn,"id_pessoa",how='inner')
dfj.show()

+---+----------+--------------+------------+-------------+------------+----------+----------+-----+---+--------------+---------+--------------+---------------+----------------+---------------+
|_c0|ID_CHAMADO|ID_SOLICITANTE|ID_CATEGORIA|ID_PRIORIDADE|ID_ATENDENTE|  ABERTURA|FECHAMENTO|CUSTO|_c0|ID_FUNCIONARIO|MATRICULA|          NOME|DATA_NASCIMENTO|DATA_CONTRATACAO|ID_DEPARTAMENTO|
+---+----------+--------------+------------+-------------+------------+----------+----------+-----+---+--------------+---------+--------------+---------------+----------------+---------------+
|  0|         1|             5|           1|            1|           1|2020-01-01|2020-01-01| 10.5|  4|             5|      100|EDUARDO CARLOS|     1988-01-01|      2018-01-01|              2|
|  1|         2|             6|           2|            1|           1|2020-01-01|2020-01-01| 10.5|  5|             6|      101|    ALICIA LEN|     1988-07-21|      2019-02-01|              2|
|  2|         3|             7|           3|            1|           2|2020-01-01|2020-01-01| 10.5|  6|             7|      102|LEANDRA SUSHAI|     1987-04-21|      2020-04-02|              2|
|  3|         4|             8|           1|            1|           2|2020-01-01|2020-01-01| 10.5|  7|             8|      103|  JONAS EDULIT|     2000-02-02|      2020-03-03|              2|
|  4|         5|             9|           2|            1|           3|2020-01-01|      null|  0.0|  8|             9|      104| LARISSA CAMIR|     2002-02-02|      2020-01-03|              2|
|  5|         6|            10|           3|            2|           3|2020-01-01|      null|  0.0|  9|            10|      105|    LUANA LUPE|     2001-02-02|      2020-05-03|              2|
|  6|         7|            11|           1|            1|           4|2020-01-01|      null|  0.0| 10|            11|      300|  LINDA MIGUEL|     1986-01-01|      2020-01-01|              3|
|  7|         8|            12|           2|            1|           4|2020-01-02|      null|  0.0| 11|            12|      301|   LEANDRO LIN|     1986-07-10|      2020-02-01|              3|
|  8|         9|            13|           3|            1|           1|2020-01-02|      null|  0.0| 12|            13|      302|FELIPE ALMEIDA|     1985-08-01|      2020-02-01|              3|
|  9|        10|            14|           1|            1|           1|2020-01-02|      null|  0.0| 13|            14|      303|   CARLOS GRIT|     1999-09-02|      2020-02-01|              3|
| 10|        11|            15|           2|            1|           2|2020-01-02|      null|  0.0| 14|            15|      304|   FELIPE JANI|     1985-08-01|      2020-02-02|              3|
| 11|        12|            16|           3|            1|           2|2020-01-02|2020-01-02| 10.5| 15|            16|      305| MARIA EUGENIA|     1969-09-02|      2020-02-02|              3|
| 12|        13|            17|           1|            3|           3|2020-01-03|2020-01-03| 10.5| 16|            17|       10|  MARCOS BRATT|     1978-04-01|      2020-01-01|              1|
| 13|        14|            18|           2|            1|           3|2020-01-03|2020-01-03| 10.5| 17|            18|       11|     LANCE LOR|     1998-05-21|      2020-02-01|              1|
| 14|        15|             5|           3|            3|           4|2020-01-03|2020-01-03| 10.5|  4|             5|      100|EDUARDO CARLOS|     1988-01-01|      2018-01-01|              2|
| 15|        16|             6|           1|            3|           4|2020-01-03|2020-01-03| 10.5|  5|             6|      101|    ALICIA LEN|     1988-07-21|      2019-02-01|              2|
| 16|        17|             7|           2|            3|           1|2020-01-03|2020-01-03| 10.5|  6|             7|      102|LEANDRA SUSHAI|     1987-04-21|      2020-04-02|              2|
| 17|        18|             8|           3|            3|           1|2020-01-03|2020-01-03|100.5|  7|             8|      103|  JONAS EDULIT|     2000-02-02|      2020-03-03|              2|
| 18|        19|             9|           1|            3|           2|2020-01-03|2020-01-08|100.5|  8|             9|      104| LARISSA CAMIR|     2002-02-02|      2020-01-03|              2|
| 19|        20|            10|           2|            3|           2|2020-01-03|2020-01-08|100.5|  9|            10|      105|    LUANA LUPE|     2001-02-02|      2020-05-03|              2|
+---+----------+--------------+------------+-------------+------------+----------+----------+-----+---+--------------+---------+--------------+---------------+----------------+---------------+
only showing top 20 rows

In [ ]:
#Crie uma tabela chamada: “chamados_fechados”. 
chamados_fechados = dfj.select("ABERTURA","MATRICULA","NOME","FECHAMENTO")
chamados_fechados.show()

+----------+---------+--------------+----------+
|  ABERTURA|MATRICULA|          NOME|FECHAMENTO|
+----------+---------+--------------+----------+
|2020-01-01|      100|EDUARDO CARLOS|2020-01-01|
|2020-01-01|      101|    ALICIA LEN|2020-01-01|
|2020-01-01|      102|LEANDRA SUSHAI|2020-01-01|
|2020-01-01|      103|  JONAS EDULIT|2020-01-01|
|2020-01-01|      104| LARISSA CAMIR|      null|
|2020-01-01|      105|    LUANA LUPE|      null|
|2020-01-01|      300|  LINDA MIGUEL|      null|
|2020-01-02|      301|   LEANDRO LIN|      null|
|2020-01-02|      302|FELIPE ALMEIDA|      null|
|2020-01-02|      303|   CARLOS GRIT|      null|
|2020-01-02|      304|   FELIPE JANI|      null|
|2020-01-02|      305| MARIA EUGENIA|2020-01-02|
|2020-01-03|       10|  MARCOS BRATT|2020-01-03|
|2020-01-03|       11|     LANCE LOR|2020-01-03|
|2020-01-03|      100|EDUARDO CARLOS|2020-01-03|
|2020-01-03|      101|    ALICIA LEN|2020-01-03|
|2020-01-03|      102|LEANDRA SUSHAI|2020-01-03|
|2020-01-03|      103|  JONAS EDULIT|2020-01-03|
|2020-01-03|      104| LARISSA CAMIR|2020-01-08|
|2020-01-03|      105|    LUANA LUPE|2020-01-08|
+----------+---------+--------------+----------+
only showing top 20 rows

In [ ]:
#Filtrando apenas os chamados com data de fechamento preenchido.
chamados_fechados = chamados_fechados.where(chamados_fechados.FECHAMENTO != 'null')

In [ ]:
chamados_fechados.show()

+----------+---------+--------------+----------+
|  ABERTURA|MATRICULA|          NOME|FECHAMENTO|
+----------+---------+--------------+----------+
|2020-01-01|      100|EDUARDO CARLOS|2020-01-01|
|2020-01-01|      101|    ALICIA LEN|2020-01-01|
|2020-01-01|      102|LEANDRA SUSHAI|2020-01-01|
|2020-01-01|      103|  JONAS EDULIT|2020-01-01|
|2020-01-02|      305| MARIA EUGENIA|2020-01-02|
|2020-01-03|       10|  MARCOS BRATT|2020-01-03|
|2020-01-03|       11|     LANCE LOR|2020-01-03|
|2020-01-03|      100|EDUARDO CARLOS|2020-01-03|
|2020-01-03|      101|    ALICIA LEN|2020-01-03|
|2020-01-03|      102|LEANDRA SUSHAI|2020-01-03|
|2020-01-03|      103|  JONAS EDULIT|2020-01-03|
|2020-01-03|      104| LARISSA CAMIR|2020-01-08|
|2020-01-03|      105|    LUANA LUPE|2020-01-08|
|2020-02-01|      303|   CARLOS GRIT|2020-02-08|
|2020-02-01|      304|   FELIPE JANI|2020-02-08|
|2020-02-01|      305| MARIA EUGENIA|2020-02-08|
|2020-02-01|       10|  MARCOS BRATT|2020-02-08|
|2020-02-01|       11|     LANCE LOR|2020-02-03|
|2020-02-01|      301|   LEANDRO LIN|2020-02-03|
|2020-02-01|       10|  MARCOS BRATT|2020-02-03|
+----------+---------+--------------+----------+
only showing top 20 rows

In [ ]:
#Gravar no formato "parquet"
chamados_fechados.write.parquet("relatorios/chamados_fechados")

In [ ]:
#Crie uma tabela chamada: "data_chamados". 
data_chamados = dfj.select("ABERTURA")
data_chamados.show()

+----------+
|  ABERTURA|
+----------+
|2020-01-01|
|2020-01-01|
|2020-01-01|
|2020-01-01|
|2020-01-01|
|2020-01-01|
|2020-01-01|
|2020-01-02|
|2020-01-02|
|2020-01-02|
|2020-01-02|
|2020-01-02|
|2020-01-03|
|2020-01-03|
|2020-01-03|
|2020-01-03|
|2020-01-03|
|2020-01-03|
|2020-01-03|
|2020-01-03|
+----------+
only showing top 20 rows

In [ ]:
#Criar colunas
data_chamados = data_chamados.withColumn("ano",f.year(data_chamados.ABERTURA)) 
data_chamados = data_chamados.withColumn("mes",f.month(data_chamados.ABERTURA)) 
data_chamados = data_chamados.withColumn("dia",f.dayofmonth(data_chamados.ABERTURA))
data_chamados.show()

+----------+----+---+---+
|  ABERTURA| ano|mes|dia|
+----------+----+---+---+
|2020-01-01|2020|  1|  1|
|2020-01-01|2020|  1|  1|
|2020-01-01|2020|  1|  1|
|2020-01-01|2020|  1|  1|
|2020-01-01|2020|  1|  1|
|2020-01-01|2020|  1|  1|
|2020-01-01|2020|  1|  1|
|2020-01-02|2020|  1|  2|
|2020-01-02|2020|  1|  2|
|2020-01-02|2020|  1|  2|
|2020-01-02|2020|  1|  2|
|2020-01-02|2020|  1|  2|
|2020-01-03|2020|  1|  3|
|2020-01-03|2020|  1|  3|
|2020-01-03|2020|  1|  3|
|2020-01-03|2020|  1|  3|
|2020-01-03|2020|  1|  3|
|2020-01-03|2020|  1|  3|
|2020-01-03|2020|  1|  3|
|2020-01-03|2020|  1|  3|
+----------+----+---+---+
only showing top 20 rows

In [ ]:
#Agrupar
data_chamados = data_chamados.groupBy("ano","mes","dia").count()
data_chamados.show()

+----+---+---+-----+
| ano|mes|dia|count|
+----+---+---+-----+
|2020|  4| 11|    5|
|2020|  7|  9|    7|
|2020|  3|  1|    8|
|2020|  5| 12|    8|
|2020|  8|  9|    7|
|2020|  2|  1|   14|
|2020|  9|  3|    6|
|2020|  1|  1|    7|
|2020| 10|  1|    6|
|2020|  1|  3|   11|
|2020|  1|  2|    5|
|2020|  6| 11|   10|
|2020| 10|  2|    4|
+----+---+---+-----+

In [ ]:
#Gravar no formato "parquet"
data_chamados.write.parquet("relatorios/data_chamados")